.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.animal-card {
  width: 300px;
  margin: 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.animal-card:hover {
  transform: translateY(-5px);
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-card {
  flex: 1;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.text-card {
  padding: 20px;
}

.animal-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.animal-description {
  font-size: 16px;
  color: #777;
  line-height: 1.5;
  margin-bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.zoomed-card {
  width: 500px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.zoomed-card img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 20px;
}

.zoomed-card .animal-name {
  font-size: 32px;
  margin-bottom: 10px;
}

.zoomed-card .animal-description {
  font-size: 18px;
  color: #777;
  line-height: 1.5;
  margin-bottom: 0;
}
